<br>
<br>
<br>
<app-breadcrumb-back />


<div class="profile-container">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="profile-grid">

            <div class="profile-info">
                <h2>{{'TicketTitle' | transloco}}</h2>

                <div class="form-group">
                    <label for="fullName">{{'title' | transloco}}</label>
                    <input type="text" id="fullName" formControlName="titulo" placeholder="{{'EnterTitle' | transloco}}">

                    @if(profileForm.get('titulo')?.touched && profileForm.get('titulo')?.invalid){
                    <div class="error">
                        @if(profileForm.get('titulo')?.errors?.['required']){
                        <span>{{'titleRequired' | transloco}}</span>
                        }
                    </div>
                    }
                </div>

                <div class="form-group">
                    <label for="descripcion">{{'Description' | transloco}}</label>
                    <textarea id="descripcion" formControlName="descripcion"
                        placeholder="{{'PlaceHolderDescriptionCategory' | transloco}}"></textarea>

                    @if(profileForm.get('descripcion')?.touched && profileForm.get('descripcion')?.invalid){
                    <div class="error">
                        @if(profileForm.get('descripcion')?.errors?.['required']){
                        <span>{{'CategoryDescriptionRequired' | transloco}}</span>
                        }
                    </div>
                    }
                </div>

                <div class="form-group">
                    <label for="Fecha">{{'CategoryCreationDate' | transloco}}</label>
                    <input type="date" id="Fecha" formControlName="Fecha" [value]="today" readonly />

                    @if(profileForm.get('Fecha')?.touched && profileForm.get('Fecha')?.invalid){
                    <div class="error">
                        @if(profileForm.get('Fecha')?.errors?.['required']){
                        <span>{{'CategoryCreationDateRequired' | transloco}}</span>
                        }
                    </div>
                    }
                </div>
                <div class="form-group">
                    <label>{{'Priority' | transloco}}</label>
                    <div class="radio-group">
                        <label>
                            <input type="radio" name="prioridad" formControlName="prioridad" value="LOW"> {{'LowPriority' | transloco}}
                        </label>
                        <label>
                            <input type="radio" name="prioridad" formControlName="prioridad" value="MEDIUM"> {{'MidPriority' | transloco}}
                        </label>
                        <label>
                            <input type="radio" name="prioridad" formControlName="prioridad" value="HIGH"> {{'HighPriority' | transloco}}
                        </label>
                    </div>
                </div>

                <div class="stack-list-container">
                    <div class="search-box">
                        <input type="text" [(ngModel)]="searchQuery" [ngModelOptions]="{ standalone: true }"
                            placeholder="{{'CategorySearch' | transloco}}" class="search-input" />
                    </div>

                    <div class="list-wrapper">

                        @for (item of filteredData(); track item.id) {
                        <div class="list-item" [class.active]="selectedItem?.id === item.id" (click)="selectItem(item)">
                            <div class="item-content">
                                <div class="icon-wrapper">
                                    <img [src]="'http://localhost:3000/images/' + item.imageUrl" class="item-icon" />
                                </div>

                                <div class="text-content">
                                    <h3 class="item-title">{{ item.name }}</h3>

                                    <p class="item-description">{{ item.description }}</p>

                                    <div class="item-metadata">
                                        <div class="tags">
                                            @for (tag of item.categoryEtiquettes; track tag.name) {
                                            <span class="tag">{{ tag.name }}</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>



                
                <div class="form-group">
                    <label for="aceptanceCriteria">{{'AceptanceCriteria' | transloco}}</label>
                    <textarea id="aceptanceCriteria" formControlName="aceptanceCriteria"
                        placeholder="{{'AceptanceCriteriaDescription' | transloco}}"></textarea>
                </div>

                
                <div class="form-group">
                    <label for="comments">{{'Comments' | transloco}}</label>
                    <textarea id="comments" formControlName="comments"
                        placeholder="{{'AditionalComments' | transloco}}"></textarea>
                </div>


                <div class="button-group">
                    <button type="submit" [disabled]="!profileForm.valid || isLoading">{{'CreateTicket' | transloco}}</button>
                    <button type="button" (click)="resetForm()" class="reset-btn">{{'ClearFieldsTechnician' | transloco}}</button>
                </div>
            </div>



            <div class="profile-image">
                <h2>{{'ImageRelateTicket'|transloco}}</h2>

                <div class="image-upload-container" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
                    (drop)="onDrop($event)">

                    
                    @if(imagePreviews.length > 0){
                    <div class="multiple-previews">
                        @for(img of imagePreviews; track $index){
                            <div class="image-preview circular-preview">
                            <img [src]="img" alt="Preview {{ $index }}">
                            <button type="button" class="delete-image-btn" (click)="removeImage($index)">✕</button>
                        </div>
                        }
                        
                    </div>


                    }

                    
                    @if(imagePreviews.length === 0){
                    <div class="upload-placeholder circular-preview">
                        <i class="fas fa-cloud-upload-alt"></i>
                    </div>
                    }

                    
                    <input type="file" #fileInput (change)="onFileSelected($event)"
                        accept="image/jpeg,image/png,image/webp" multiple style="display: none">

                    <button type="button" (click)="fileInput.click()" class="upload-btn">
                        {{'SelectProfilePictureTechnician' | transloco}}
                    </button>
                </div>

                @if(imageError){
                <div class="error">{{ imageError }}</div>
                }




                <div class="additional-fields" [hidden]="!authUser()">
                    <h3>{{'User' | transloco}}</h3>

                    <p><strong>{{'ID' | transloco}}</strong> {{ authUser()?.id }}</p>
                    <p><strong>{{'Name' | transloco}}</strong> {{ authUser()?.name }} {{ authUser()?.lastName }}</p>
                    <p><strong>{{'EmailTechnician' | transloco}}</strong> {{ authUser()?.email }}</p>

                    <p><strong>{{'Phone' | transloco}}</strong> {{ authUser()?.cellphone }}</p>

                    <img width="80" height="80" style="border-radius: 10px; margin-top: 10px;" [hidden]="!authUser()"
                        [src]="'http://localhost:3000/images/image-no-found.jpg'">

                </div>


            </div>
        </div>
    </form>
</div>