<br>
<br>
<br>
<app-breadcrumb-back />


<div class="profile-container">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="profile-grid">

            <div class="profile-info">
                <h2>Ticket</h2>

                <div class="form-group">
                    <label for="fullName">Título</label>
                    <input type="text" id="fullName" formControlName="titulo" placeholder="Ingrese un título">

                    @if(profileForm.get('titulo')?.touched && profileForm.get('titulo')?.invalid){
                    <div class="error">
                        @if(profileForm.get('titulo')?.errors?.['required']){
                        <span>El título es obligatorio</span>
                        }
                    </div>
                    }
                </div>

                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea id="descripcion" formControlName="descripcion"
                        placeholder="Ingrese una descripción"></textarea>

                    @if(profileForm.get('descripcion')?.touched && profileForm.get('descripcion')?.invalid){
                    <div class="error">
                        @if(profileForm.get('descripcion')?.errors?.['required']){
                        <span>La descripción es obligatoria</span>
                        }
                    </div>
                    }
                </div>

                <div class="form-group">
                    <label for="Fecha">Fecha de creación</label>
                    <input type="date" id="Fecha" formControlName="Fecha" [value]="today" readonly />

                    @if(profileForm.get('Fecha')?.touched && profileForm.get('Fecha')?.invalid){
                    <div class="error">
                        @if(profileForm.get('Fecha')?.errors?.['required']){
                        <span>La fecha de creación es obligatoria</span>
                        }
                    </div>
                    }
                </div>
                <div class="form-group">
                    <label>Prioridad</label>
                    <div class="radio-group">
                        <label>
                            <input type="radio" name="prioridad" formControlName="prioridad" value="LOW"> Baja
                        </label>
                        <label>
                            <input type="radio" name="prioridad" formControlName="prioridad" value="MEDIUM"> Media
                        </label>
                        <label>
                            <input type="radio" name="prioridad" formControlName="prioridad" value="HIGH"> Alta
                        </label>
                    </div>
                </div>

                <div class="stack-list-container">
                    <div class="search-box">
                        <input type="text" [(ngModel)]="searchQuery" [ngModelOptions]="{ standalone: true }"
                            placeholder="Buscar categorías..." class="search-input" />
                    </div>

                    <div class="list-wrapper">

                        @for (item of filteredData(); track item.id) {
                        <div class="list-item" [class.active]="selectedItem?.id === item.id" (click)="selectItem(item)">
                            <div class="item-content">
                                <div class="icon-wrapper">
                                    <img [src]="'http://localhost:3000/images/' + item.imageUrl" class="item-icon" />
                                </div>

                                <div class="text-content">
                                    <h3 class="item-title">{{ item.name }}</h3>

                                    <p class="item-description">{{ item.description }}</p>

                                    <div class="item-metadata">
                                        <div class="tags">
                                            @for (tag of item.categoryEtiquettes; track tag.name) {
                                            <span class="tag">{{ tag.name }}</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>



                
                <div class="form-group">
                    <label for="aceptanceCriteria">Criterios de aceptación</label>
                    <textarea id="aceptanceCriteria" formControlName="aceptanceCriteria"
                        placeholder="Describa los criterios de aceptación..."></textarea>
                </div>

                
                <div class="form-group">
                    <label for="comments">Comentarios</label>
                    <textarea id="comments" formControlName="comments"
                        placeholder="Ingrese comentarios adicionales..."></textarea>
                </div>


                <div class="button-group">
                    <button type="submit" [disabled]="!profileForm.valid || isLoading">Crear Ticket</button>
                    <button type="button" (click)="resetForm()" class="reset-btn">Limpiar campos</button>
                </div>
            </div>



            <div class="profile-image">
                <h2>Imágenes relacionadas con el Ticket</h2>

                <div class="image-upload-container" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
                    (drop)="onDrop($event)">

                    
                    @if(imagePreviews.length > 0){
                    <div class="multiple-previews">
                        <div class="image-preview circular-preview" *ngFor="let img of imagePreviews; let i = index">
                            <img [src]="img" alt="Preview {{ i }}">
                            <button type="button" class="delete-image-btn" (click)="removeImage(i)">✕</button>

                        </div>
                    </div>


                    }

                    
                    @if(imagePreviews.length === 0){
                    <div class="upload-placeholder circular-preview">
                        <i class="fas fa-cloud-upload-alt"></i>
                        <p>Arrastrar y soltar o hacer clic para subir</p>
                        <span class="file-info">Máx 5MB por archivo (JPEG, PNG, WebP)</span>
                    </div>
                    }

                    
                    <input type="file" #fileInput (change)="onFileSelected($event)"
                        accept="image/jpeg,image/png,image/webp" multiple style="display: none">

                    <button type="button" (click)="fileInput.click()" class="upload-btn">
                        Seleccionar imágenes
                    </button>
                </div>

                @if(imageError){
                <div class="error">{{ imageError }}</div>
                }




                <div class="additional-fields" [hidden]="!authUser()">
                    <h3>Usuario autenticado</h3>

                    <p><strong>ID:</strong> {{ authUser()?.id }}</p>
                    <p><strong>Nombre:</strong> {{ authUser()?.name }} {{ authUser()?.lastName }}</p>
                    <p><strong>Correo:</strong> {{ authUser()?.email }}</p>

                    <p><strong>Celular:</strong> {{ authUser()?.cellphone }}</p>

                    <img width="80" height="80" style="border-radius: 10px; margin-top: 10px;" [hidden]="!authUser()"
                        [src]="'http://localhost:3000/images/image-no-found.jpg'">

                </div>


            </div>
        </div>
    </form>
</div>