<div class="breadcrumb-wrapper">
        <app-breadcrumb-back />
    </div>
<div class="current-plan-container">
    
    <h2 class="title">{{'TitleCategories' | transloco}}</h2>
    <div class="plan-details-card">
        <div class="plan-header">
            <div class="plan-icon">
                <img [src]="'http://localhost:3000/images/' + data()?.imageUrl" alt="Icono de categoría"
                    class="plan-image" />
            </div>
            <div class="plan-info">
                <div class="detail-row">
                    <span class="label">{{'NameCategory' | transloco}}</span>
                    <span class="value">{{ data()?.name }}</span>
                </div>
                <div class="detail-row">
                    <span class="label">{{'DescriptionCategory' | transloco}}</span>
                    <span class="value">{{ data()?.description }}</span>
                </div>
            </div>
        </div>

        <div class="plan-body">
            <div class="detail-row">
                <span class="label">{{'SLACategory' | transloco}}:</span>
                <span class="value">{{ data()?.SLA?.name ?? 'Sin SLA asignado' }}</span>

            </div>
            <div class="detail-row">

                <span class="label">{{'ResponseTimeCategory' | transloco}}</span>
                <span class="value">{{ data()?.SLA?.slaReplyHours + "h" }}</span>

            </div>
            <div class="detail-row">
                <span class="label">{{'ResolutionTimeCategory' | transloco}}</span>
                <span class="value">{{ data()?.SLA?.slaResolutionHours + "h" }}</span>
            </div>

            <div class="features-section">
                <span class="label">{{'SpecialitiesTechnician' | transloco}}</span>
                <ul class="features-list">
                    @for (speci of data()?.specialities; track speci.id) {
                    <li class="feature-item">
                        <span class="feature-check">✓</span>
                        {{ speci.name + ": "}} {{ speci.description }}
                    </li>
                    }


                </ul>
            </div>

            <div class="features-section">
                <span class="label">{{'Tags' | transloco}}</span>
                <ul class="features-list">
                    @for (tag of data()?.categoryEtiquettes; track tag.id) {
                    <li class="feature-item">
                        <span class="feature-check">🏷️</span>
                        {{ tag.name }} {{ ": "}} {{ tag.description }}
                    </li>
                    }


                </ul>
            </div>
            <br>

            <span class="role-tag" (click)="$event.stopPropagation()"
                    [routerLink]="['/CreateUpdateCategoria/update/', data()?.id]">{{'UpdateCategory' | transloco}}</span>
        </div>
    </div>
</div>