<div class="breadcrumb-wrapper">
        <app-breadcrumb-back />
    </div>
<div class="current-plan-container">
    
    <h2 class="title">Detalle de Categoría</h2>
    <div class="plan-details-card">
        <div class="plan-header">
            <div class="plan-icon">
                <img [src]="'http://localhost:3000/images/' + data()?.imageUrl" alt="Icono de categoría"
                    class="plan-image" />
            </div>
            <div class="plan-info">
                <div class="detail-row">
                    <span class="label">Nombre:</span>
                    <span class="value">{{ data()?.name }}</span>
                </div>
                <div class="detail-row">
                    <span class="label">Descripción:</span>
                    <span class="value">{{ data()?.description }}</span>
                </div>
            </div>
        </div>

        <div class="plan-body">
            <div class="detail-row">
                <span class="label">SLA:</span>
                <span class="value">{{ data()?.SLA?.name ?? 'Sin SLA asignado' }}</span>

            </div>
            <div class="detail-row">

                <span class="label">Tiempo de respuesta:</span>
                <span class="value">{{ data()?.SLA?.slaReplyHours + "h" }}</span>

            </div>
            <div class="detail-row">
                <span class="label">Tiempo de resolución:</span>
                <span class="value">{{ data()?.SLA?.slaResolutionHours + "h" }}</span>
            </div>

            <div class="features-section">
                <span class="label">Especialidades:</span>
                <ul class="features-list">
                    @for (speci of data()?.specialities; track speci.id) {
                    <li class="feature-item">
                        <span class="feature-check">✓</span>
                        {{ speci.name + ": "}} {{ speci.description }}
                    </li>
                    }


                </ul>
            </div>

            <div class="features-section">
                <span class="label">Etiquetas:</span>
                <ul class="features-list">
                    @for (tag of data()?.categoryEtiquettes; track tag.id) {
                    <li class="feature-item">
                        <span class="feature-check">🏷️</span>
                        {{ tag.name }} {{ ": "}} {{ tag.description }}
                    </li>
                    }


                </ul>
            </div>
        </div>
    </div>
</div>