<div class="calendar-container">
    <app-breadcrumb-back />
    <br>
    <br>
    <br>
    <div class="calendar-header">
        <div class="nav-buttons">
            <button class="nav-btn" (click)="previousView()">&#8249;</button>
            <button class="today-btn" (click)="goToToday()">{{'Today' | transloco}}</button>
            <button class="nav-btn" (click)="nextView()">&#8250;</button>
        </div>
        <div class="priority-legend">
            <span class="legend-item priority-low">{{'LowPriority' | transloco}}</span>
            <span class="legend-item priority-medium">{{'MidPriority' | transloco}}</span>
            <span class="legend-item priority-high">{{'HighPriority' | transloco}}</span>
        </div>
        <div class="view-toggle">
            <button [class.active]="currentView() === 'month'" (click)="switchView('month')">{{'Month' |
                transloco}}</button>
            <button [class.active]="currentView() === 'week'" (click)="switchView('week')">{{'Week' |
                transloco}}</button>
        </div>
    </div>

    <div class="calendar-body">
        <div class="calendar-grid">
            <div class="weekdays">
                @for (day of weekDays; track day) {
                <div class="weekday">{{ day }}</div>
                }
            </div>

            <ng-container>
                @if (currentView() === 'month') {
                <div class="days-grid">
                    @for (day of calendarDays; track day) {
                    <div class="day-cell" [class.current-day]="isCurrentDay(day.date)"
                        [class.selected]="isSelectedDate(day.date)" [class.other-month]="!day.isCurrentMonth"
                        (click)="selectDate(day.date)">
                        <span class="date-number">{{ day.date | date:'longDate' }}</span>

                        @for (ticket of getTicketsForDate(day.date); track ticket.id) {
                        <div class="ticket-card priority-{{ ticket.priority.toLowerCase() }}"
                            [class.expanded]="isTicketExpanded(ticket.id)" (click)="toggleExpand(ticket.id)"
                            tabindex="0" role="button" [attr.aria-expanded]="isTicketExpanded(ticket.id)">
                            <i class="fas fa-exclamation-triangle"></i>
                            <div class="card-header">
                                <div class="status-icon">
                                    <i class="fas fa-ticket-alt"></i>
                                </div>
                                <h3 class="status-title">{{'TicketNumber' | transloco}}{{ ticket.id }}</h3>
                            </div>

                            <div class="card-body">
                                <p><strong>{{'CreateCategoryTittle' | transloco}}</strong> {{ ticket.ticketCategory.name
                                    }}</p>
                                <p><strong>{{'Status' | transloco}}</strong> {{ getStatusLabel(ticket.status) }}</p>
                                <p><strong>{{'SLARemaining' | transloco}}</strong> {{ getSlaRemaining(ticket) }} días
                                </p>

                                @if (isTicketExpanded(ticket.id)) {
                                <div class="details">
                                    <div class="stats-grid">
                                        <div class="stat-item">
                                            <span class="stat-label">{{'Priority' | transloco}}</span>
                                            <span class="stat-value">{{ getPriorityLabel(ticket.priority) }}</span>
                                        </div>
                                        <div class="stat-item">
                                            <span class="stat-label">{{'Created' | transloco}}</span>
                                            <span class="stat-value">{{ ticket.createdAt | date:'short' }}</span>
                                        </div>
                                        <div class="stat-item">
                                            <span class="stat-label">{{'Assigned' | transloco}}</span>
                                            <span class="stat-value">
                                                {{
                                                ticket.technician?.user
                                                ? ticket.technician?.user?.name + ' ' +
                                                ticket.technician?.user?.lastName
                                                : 'Sin asignar'
                                                }}
                                            </span>

                                        </div>
                                    </div>
                                </div>
                                }
                            </div>

                            <div class="card-footer">
                                <button class="btn-action" (click)="$event.stopPropagation(); viewDetails(ticket.id)"
                                    [routerLink]="['/DetalleTicket', ticket.id]" aria-label="Ver detalles">
                                    <i class="fas fa-eye"></i> {{'ViewDetails' | transloco}}
                                </button>
                                @if(ticket.status === 'PENDING'){
                                    <button  class="btn-action"
                                    (click)="$event.stopPropagation(); takeAction(ticket.id); openModal(ticket)" aria-label="{{'AssignTicket' | transloco}}" >
                                    <i class="fas fa-bolt"></i> {{ 'AssignTicket' | transloco }} 
                                </button>
                                }
                                
                            </div>
                        </div>
                        }
                    </div>
                    }
                </div>
                }
            </ng-container>

            <ng-container>
                @if (currentView() === 'week') {
                <div class="week-view">
                    @for (day of weekViewDays; track day) {
                    <div class="week-day" [class.current-day]="isCurrentDay(day.date)"
                        [class.selected]="isSelectedDate(day.date)" (click)="selectDate(day.date)">
                        <div class="date-header">
                            <span>{{ day.date | date:'EEE' }}</span>
                            <span>{{ day.date | date:'d MMM' }}</span>
                        </div>

                        <div class="day-events">
                            @for (ticket of getTicketsForDate(day.date); track ticket.id) {
                            <div class="week-event priority-{{ ticket.priority.toLowerCase() }}">

                                <strong>#{{ ticket.id }}</strong> - {{ ticket.title }}
                                <br>
                                <span><strong>{{'Status' | transloco}}</strong> {{ getStatusLabel(ticket.status)
                                    }}</span>
                                <br>
                                <span><strong>{{'SLARemaining' | transloco}}</strong> {{ getSlaRemaining(ticket) }}
                                    {{'Days' | transloco}}</span>
                                <br>
                                <button class="add-event-btn-week"
                                    [routerLink]="['/DetalleTicket', ticket.id]">{{'ViewDetails' | transloco}}</button>
                            </div>
                            }
                        </div>
                    </div>
                    }
                </div>
                }
            </ng-container>
        </div>

        <div class="event-panel">
            <div class="selected-date">
                <h2>{{ selectedDate() | date:'longDate' }}</h2>
            </div>
            <div class="events-list">
                @for (ticket of getTicketsForDate(selectedDate()); track ticket.id) {
                <div class="event-card">
                    <div class="event-title"><strong>#{{ ticket.id }}</strong> - {{ ticket.title }}</div>
                    <div class="event-meta">
                        <span><strong>{{'Status' | transloco}}</strong> {{ ticket.status }}</span> <br>
                        <span><strong>{{'SLARemaining' | transloco}}</strong> {{ getSlaRemaining(ticket) }} {{'Days' |
                            transloco}}</span>
                    </div>
                    <button class="add-event-btn" [routerLink]="['/DetalleTicket', ticket.id]">{{'ViewDetails' |
                        transloco}}</button>
                </div>
                }
            </div>
        </div>
    </div>
</div>

@if(isModalOpen){<div class="modal-backdrop"></div>}


@if(isModalOpen){

<div class="modal-container">
    <div class="modal-box">

        <button class="close-btn" (click)="closeModal()">✕</button>
        <br>
        <h2>Asignar Técnico</h2>

        <p class="modal-text">
            Tiquete: {{selectedTicket.title}}
        </p>
        @if(showTechniciansSection){

        <div class="technicians-scroll">

            <div class="search-box">
                <input type="text" [(ngModel)]="searchQuery" placeholder="{{'SearchTechnician' | transloco}}"
                    class="search-input" />
            </div>

            <div class="list-wrapper">
                @for (item of filteredData; track item) {
                <div class="list-item" [class.active]="selectedItem?.id === item.id" (click)="selectItem(item)">

                    <div class="item-content">
                        <div class="icon-wrapper">
                            <img [src]="'http://localhost:3000/images/' + item.user.profileImage" class="item-icon" />
                        </div>

                        <div class="text-content">
                            <h3 class="item-title">{{ item.user.name }} {{ item.user.lastName }}</h3>
                            <h4 class="ticket-count">
                                Tickets activos: {{ getTicketsCountForTechnician(item.id) }}
                            </h4>
                            <h4 class="item-description">{{ item.user.email }}</h4>
                            <div class="tags">
                                @for(tag of item.specialities; track tag){
                                <span class="tag">
                                    {{ tag.name }}
                                </span>
                                }
                            </div>
                        </div>
                    </div>

                </div>
                }
            </div>

        </div>
        }

        <div class="modal-buttons">

            @if(!showTechniciansSection){
            <!-- ESTADO INICIAL -->
            <button class="btn-confirm" (click)="onConfirm()">Automático</button>
            <button class="btn-cancel" (click)="onCancel()">Manual</button>
            } @else {
            <!-- ESTADO CON TÉCNICOS CARGADOS -->
            <button class="btn-confirm" (click)="onConfirm()">Asignar</button>
            <button class="btn-cancel" (click)="onBack()">Volver</button>
            }

        </div>
    </div>
</div>
}