<div class="categories-container">
    <div class="breadcrumb-wrapper">
        <app-breadcrumb-back />
    </div>
    <h2 [routerLink]="['/CreateUpdateCategoria']">{{'CreateCategories' | transloco}}</h2>
    @for (level of categoriesHierarchy; track level) {
    <div class="hierarchy-level">
        <div class="category-row">
            @for (category of level; track category) {
            <div class="category-item" (mouseenter)="onHover(category.id)" (mouseleave)="onLeave(category.id)"
                [class.hovered]="hoveredIndex === category.id" [routerLink]="['/DetalleCategoria', category.id]">
                <div class="category-icon">
                    <img [src]="'http://localhost:3000/images/' + category.imageUrl" [alt]="category.name + ' icon'" />
                </div>
                <div class="category-content">
                    <h3>{{category.name}}</h3>
                    <p class="parent-category">
                        
                    </p>
                    <p class="description">{{category.description}}</p>
                </div>
                <div class="connector"></div>
                
            </div>
            }
        </div>
    </div>
    }
</div>