<div class="stack-list-container">
    <app-breadcrumb-back />
    <br>
    <br>
    <br>
    <div class="search-box">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Buscar técnicos..." class="search-input" />
    </div>
    <h2 [routerLink]="['/Crear-UpdateTecnico']">Crear Técnico</h2>
    <div class="list-wrapper">
        @for (item of filteredData; track item.id) {
        <div class="list-item" [class.active]="selectedItem?.id === item.id" (click)="selectItem(item)"
            [routerLink]="['/Detalle', item.id]">
            <div class="item-content">
                <div class="icon-wrapper">
                    <img [src]="'http://localhost:3000/images/' + item.user.profileImage || 'default-icon.png'" [alt]="item.user.name"
                        class="item-icon" />
                </div>

                <div class="text-content">
                    <h3 class="item-title">
                        {{ item.user.name }} {{ item.user.lastName }}
                    </h3>
                    <p class="item-description">{{ item.user.email }}</p>

                    <div class="item-metadata">
                        <span class="date">
                            {{ item.createdAt | date: 'mediumDate' }}
                        </span>

                        <div class="tags">
                            @for (tag of item.specialities; track tag.name) {
                            <span class="tag">{{ tag.name }}</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>